[submodule "02_Contorno-Servidor/04_Tema_MantenimientoEstado/02_Ejercicios/CS_Actividad_5_2"]
	path = 02_Contorno-Servidor/04_Tema_MantenimientoEstado/02_Ejercicios/CS_Actividad_5_2
	url = git@github.com:b4391co/CS_Actividad_5_2.git
[submodule "02_Contorno-Servidor/04_Tema_MantenimientoEstado/02_Ejercicios/CS_Actividad_5_1"]
	path = 02_Contorno-Servidor/04_Tema_MantenimientoEstado/02_Ejercicios/CS_Actividad_5_1
	url = git@github.com:b4391co/CS_Actividad_5_1.git
